<p-table [value]="RTEsinComprobate" styleClass="p-datatable-gridlines" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Codigo del afiliado</th>
            <th>Numero de cuenta afectada</th>
            <th>Filial donde aperturo</th>
            <th>Nombre no afiliado</th>
            <th>Numero de identidad</th>
            <th>Origen de fondos</th>
            <th>Transaccion</th>
            <th>Fecha de operacion</th>
            <th>Monto</th>
            <th>Filial realizo operacion</th>
            <th>Cajero</th>
            <th>Observacion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-RTE>
        <tr>
            <td>{{RTE.codigo_afiliado}}</td>
            <td>{{RTE.cuenta_afectada}}</td>
            <td>{{getFilial(RTE.id_filial_ac)}}</td>
            <td>{{getNombre(RTE.id_cliente)}}</td>
            <td>{{RTE.id_cliente}}</td>
            <td>{{getOrigenFondos(RTE.id_origen_fondos)}}</td>
            <td>{{getTransaccion(RTE.id_transaccion)}}</td>
            <td>{{RTE.fecha_operacion | date:'M/d/yyyy, h:mm a'}}</td>
            <td>{{RTE.monto_transaccion | currency:'Lps. '}}</td>
            <td>{{getFilial(RTE.id_filial_realizo_transaccion)}}</td>
            <td>{{getCajero(RTE.id_colaborador)}}</td>
            <td>{{RTE.observaciones}}</td>
            
        </tr>
    </ng-template>
</p-table>