<div class="container">
    <p-toolbar>

        <div class="p-toolbar-group-left">
            <div class="text-center">
                <h2>{{despartamento}}</h2>
            </div>
        </div>
        
        <div class="p-toolbar-group-right">
            <button icon="pi pi-user" pButton type="button" [label]="avatarUsuario" class="p-button-text" disabled='true'></button>
            <div class="separador"></div>
            <p-button icon="pi-sign-out" styleClass="p-button-secondary" label="Cerrar sesión" (onClick)="logOut()"></p-button>
        </div>
    </p-toolbar>
    <!-- <div class=" col-12 formulario row" *ngFor="let item of listdep">
        <div class="col">
            <button pButton pRipple type="button"  label="{{item}}" class="p-button-outlined" (click)="departamentoactual(item)"></button>
        </div>
    </div> -->
    
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav p-toolbar-group-left">
            <li class="nav-item active form-inline " *ngFor="let item of listdep">
                <button pButton pRipple type="button"  label="{{item}}" class="p-button-outlined" (click)="departamentoactual(item)"></button>
            </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>