<div class="container">
    <p-toolbar>

        <div class="p-toolbar-group-left">
            <div class="text-center">
                <h2>{{despartamento}}</h2>
            </div>
        </div>
        
        <div class="p-toolbar-group-right">
            <button icon="pi pi-user" pButton type="button" [label]="avatarUsuario" class="p-button-text" disabled='true'></button>
            <div class="separador"></div>
            <p-button icon="pi-sign-out" styleClass="p-button-secondary" label="Cerrar sesión" (onClick)="logOut()"></p-button>
        </div>
    </p-toolbar>

    <p-tabView *ngIf="menudesable">
        <p-tabPanel *ngFor="let item of listdep; let i = index"  [selected]="i == 0" [header]="item.header">
           {{item.content}}
        </p-tabPanel>
    </p-tabView>
</div>