<p-table [value]="dd_noAfiliado" styleClass="p-datatable-gridlines" sortField="representative.name" sortMode="single" [scrollable]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <p-button class="btn w-auto" label="Descargar" icon="pi pi-download" (onClick)="dowland()"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:200px">Nombre no afiliado</th>
            <th style="min-width:200px">Numero de identidad</th>
            <th style="min-width:200px">Parentesco</th>
            <th style="min-width:200px">Filial</th>
            <th style="min-width:200px">Codigo del afiliado</th>
            <th style="min-width:200px">Numero de cuenta afectada</th>
            <th style="min-width:200px">Origen de fondos</th>
            <th style="min-width:200px">Razon de operacion</th>
            <th style="min-width:200px">Transaccion</th>
            <th style="min-width:200px">Monto</th>
            <th style="min-width:200px">Fecha de operacion</th>
            <th style="min-width:200px">Cajero</th>
            <th style="min-width:200px">Observacion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"  let-DNA>
        <tr>
            <td>{{DNA.name}}</td>
            <td>{{DNA.id_no_afiliado}}</td>
            <td>{{DNA.parentesco}}</td>
            <td>{{DNA.filial}}</td>
            <td>{{DNA.codigo_afiliado}}</td>
            <td>{{DNA.cuenta_afectada}}</td>
            <td>{{DNA.origen_fondos}}</td>
            <td>{{DNA.razon_operacion}}</td>
            <td>{{DNA.transaccion}}</td>
            <td>{{DNA.monto_transaccion | currency:'Lps. '}}</td>
            <td>{{DNA.fecha_operacion | date:'M/d/yyyy, h:mm a'}}</td>
            <td>{{DNA.colaborador_usuario}}</td>
            <td>{{DNA.observaciones}}</td>
            
        </tr>
    </ng-template>
</p-table>