<form class="m-3 row field p-fluid" autocomplete="off">
    <div class="col-12 text-center mb-3 mt-3">
        <h3>Nuevo Colaborador</h3>
    </div>
    <div class="form-group col-6 mt-3">
        <label for="nombreAfiliadoC">Nombre del Colaborador</label>
        <input  class="input-group "
                type="text" 
                [(ngModel)]="colabNombre"
                name="nombreAfiliadoC"
                id="nombreAfiliadoC"
                autocomplete="off"
                pInputText />
    </div>
    <div class="form-group col-6 mt-3">
        <label for="nombreAutorizado">Usuario</label>
        <input  class="input-group "
                type="text" 
                [(ngModel)]="colabUsuario"
                name="nombreAutorizado"
                id="nombreAutorizado"
                autocomplete="off"
                pInputText />
    </div>
    <div class="col-6 mt-3">
        <label for="">Filial</label>
        <p-dropdown [options]="cbxfilial" [(ngModel)]="selectFilial" name="cmbFilial" placeholder="Seleccione una filial" optionLabel="name" [showClear]="true" [required]="true"></p-dropdown>
    </div>
    <div class="col-6 mt-3">
        <label for="">Estado</label>
        <p-dropdown [options]="cbxEstadoColab" [(ngModel)]="selectEstadoColab" name="cmbEstadoColab" placeholder="Seleccione el estado del colaborador" optionLabel="name" [showClear]="true" [required]="true"></p-dropdown>
    </div>
    <div class="col-12 mt-3 row">
        <div class="col-12 text-center mt-3">
            <h6>Rol del usuario</h6>
        </div>
        <div class="col-6 mt-3" *ngFor="let item of departamentos">
            <p-checkbox name="groupname" [value]="item.id_departamento" [label]="item.departamento" [(ngModel)]="selectedValues"></p-checkbox>
        </div>
    </div>
    <div class="form-group col-6 mt-3">
        <label for="nombreAutorizado">Contraseña temporal</label>
        <input  class="input-group "
                type="text" 
                [(ngModel)]="password"
                name="Pass"
                id="nombreAutorizado"
                autocomplete="off"
                pInputText />
    </div>
    <div class="form-group col-6 mt-3 justify-content-center row">
        <div class="col-6 mt-4">
            <p-toast></p-toast>
            <button pButton type="button" label="Crear" class="p-button-primary" (click)="guardar()"></button>
        </div>
        <div class="col-6 mt-4">
            <button pButton type="button" label="Cancelar" class="p-button-warning" (click)="clear()"></button>
        </div>
    </div>
</form>