<p-table [value]="firmas_autorizadas_terceros" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" sortField="representative.name" sortMode="single" [scrollable]="true">
    <ng-template pTemplate="caption">
        <div class="row" >
            <div class="col-2">
                <p-button label="Descargar a Excel" icon="pi pi-download" (onClick)="dowland()"></p-button>
            </div>
            <div class="col-3">
                <button pButton pRipple type="button" [icon]="icon" (click)="parametrizar()" class="p-button-rounded"></button>
            </div>
            <div class="col-12 row field p-fluid" *ngIf="extender">
                <div class="form-group col-4 mt-4">
                    <label for="nombreAfiliadoC">Fecha de inicio</label>
                    <p-calendar [(ngModel)]="fecha_inicio" dateFormat="mm-dd-yy"  inputId="dateformat"></p-calendar>
                </div>
                <div class="form-group col-4 mt-4">
                    <label for="nombreAfiliadoC">Fecha de final</label>
                    <p-calendar [(ngModel)]="fecha_final" dateFormat="mm-dd-yy"  inputId="dateformat"></p-calendar>
                </div>
                <div class="form-group col-3 mt-5">
                    <p-button label="Descargar segmento a Excel"  icon="pi pi-download" (onClick)="dowland_parameter()"></p-button>
                    <p-toast></p-toast>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:200px">Nombre de la persona autorizada</th>
            <th style="min-width:200px">Numero de identidad</th>
            <th style="min-width:200px">Estado de la persona</th>
            <th style="min-width:200px">Parentesco</th>
            <th style="min-width:200px">Tipo de firma</th>
            <th style="min-width:200px">Codigo del afiliado</th>
            <th style="min-width:200px">Numero de cuenta afectada</th>
            <th style="min-width:200px">Filial al que pertenece el afiliado</th>
            <th style="min-width:200px">Fecha de actualización</th>
            <th style="min-width:200px">Colaborador</th>
            <th style="min-width:200px">Observacion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"  let-FT>
        <tr>   
            <td>{{FT.name | uppercase}}</td>                   
            <td>{{FT.id_cliente}}</td>             
            <td>{{FT.afiliado_estado}}</td>        
            <td>{{FT.parentesco}}</td>                
            <td>{{FT.firma}}</td>                  
            <td>{{FT.codigo_afiliado}}</td>        
            <td>{{FT.cuenta_afiliado}}</td>        
            <td>{{FT.filial}}</td>                 
            <td>{{FT.apertura_actualizacion | date:'dd/MM/yyyy, h:mm a'}} </td> 
            <td>{{FT.colaborador_nombre | uppercase}}</td>     
            <td>{{FT.observaciones}}</td>    
        </tr>
    </ng-template>
</p-table>

          