<p-table [value]="cheques_terceros" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10" sortField="representative.name" sortMode="single" [scrollable]="true">
    <ng-template pTemplate="caption">
        <div class="row" >
            <div class="col-2">
                <p-button label="Descargar a Excel" icon="pi pi-download" (onClick)="dowland()"></p-button>
            </div>
            <div class="col-3">
                <button pButton pRipple type="button" [icon]="icon" (click)="parametrizar()" class="p-button-rounded"></button>
            </div>
            <div class="col-12 row field p-fluid" *ngIf="extender">
                <div class="form-group col-4 mt-4">
                    <label for="nombreAfiliadoC">Fecha de inicio</label>
                    <p-calendar [(ngModel)]="fecha_inicio" dateFormat="mm-dd-yy"  inputId="dateformat"></p-calendar>
                </div>
                <div class="form-group col-4 mt-4">
                    <label for="nombreAfiliadoC">Fecha de final</label>
                    <p-calendar [(ngModel)]="fecha_final" dateFormat="mm-dd-yy"  inputId="dateformat"></p-calendar>
                </div>
                <div class="form-group col-3 mt-5">
                    <p-button label="Descargar segmento a Excel"  icon="pi pi-download" (onClick)="dowland_parameter()"></p-button>
                    <p-toast></p-toast>
                </div>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="min-width:200px">Codigo de Afiliado</th>
            <th style="min-width:200px">Filial</th>
            <th style="min-width:200px">N° Cheque</th>
            <th style="min-width:200px">Fecha de emision</th>
            <th style="min-width:200px">Nombre del beneficiario</th>
            <th style="min-width:200px">Identidad del beneficiario</th>
            <th style="min-width:200px">Estado beneficiario</th>
            <th style="min-width:200px">Parentesco</th>
            <th style="min-width:200px">Monto</th>
            <th style="min-width:200px">Origen</th>
            <th style="min-width:200px">Destino</th>
            <th style="min-width:200px">Colaborador</th>
            <th style="min-width:200px">Observacion</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"  let-CT>
        <tr>
            <td>{{CT.codigo_de_afiliado}}</td> 
            <td>{{CT.filial}}</td>             
            <td>{{CT.n_cheque}}</td>           
            <td>{{CT.fecha_emision | date:'dd/MM/yyyy, h:mm a'}}</td>      
            <td>{{CT.name | uppercase}}</td>
            <td>{{CT.id_persona}}</td>         
            <td>{{CT.afiliado_estado}}</td>
            <td>{{CT.parentesco}}</td>         
            <td>{{CT.monto | currency:'Lps. '}}</td>              
            <td>{{CT.origen_fondos}}</td>      
            <td>{{CT.destino}}</td>            
            <td>{{CT.colaborador_nombre | uppercase}}</td> 
            <td>{{CT.observaciones}}</td>      
        </tr>
    </ng-template>
</p-table>


        