<app-menu></app-menu>
<div class="container">
    <p-tabView>
        <p-tabPanel header="Activos" rightIcon="pi pi-users">
            <div class="container">
                <div class=" formulario">
                    <app-tablas 
                    [colabotabla]="colabotabla" 
                    [estado]="activo"
                    ></app-tablas>
                </div>
            </div>
        </p-tabPanel>
    
        <p-tabPanel header="Inactivos" rightIcon="pi pi-users">
            <div class="container">
                <div class=" formulario">
                    <app-tablas 
                    [colabotabla]="colabotablaInactivos" 
                    [estado]="inactivo"
                    ></app-tablas>
                </div>
            </div>
        </p-tabPanel>
    
        <p-tabPanel header="Nuevo" rightIcon="pi pi-user-plus">
            <app-new-user></app-new-user>
        </p-tabPanel>
    </p-tabView>

</div>
