<div class="container">
    <div class="vh-100 row justify-content-center align-content-center m-0">
        <div class="col-6 md:col-4 formulario">
            <form class="mb-3 ">
                <div class="form-group text-center mt-4 mb-4">
                    <h1 class="">Login exitoso</h1>
                    <p>Para mantener seguro tu usuario te recomendamos cambiar de contraseña</p>
                </div>
                <div class="form-group p-float-label mb-4">
                    <input  class="input-group" 
                            id="float-NewPass" 
                            type="password" 
                            [feedback]="false" 
                            [(ngModel)]="NewPass" 
                            name="newpass"
                            pPassword > 
                    <label for="float-NewPass">Ingrese una nueva contraseña</label>
                </div>
                <div class="form-group p-float-label mb-3">
                    <input  class="input-group" 
                            id="float-ConfPass" 
                            type="password" 
                            [feedback]="false" 
                            [(ngModel)]="ConfPass"
                            name="confpass"
                            pPassword  > 
                    <label for="float-ConfPass">Confirmacion de contraseña</label>
                </div>
                <div class="d-grid gap-2">
                    <p-toast></p-toast>
                    <p-button class="btn w-auto" label="Iniciar Sección" (onClick)="nuevaPass()" ></p-button>
                </div>
            </form>
        </div>
    </div>
</div>