<div class="container">
    <p-toolbar>

        <div class="p-toolbar-group-left">
            <div class="text-center">
                <h2>Caja</h2>
            </div>
        </div>
        
        <div class="p-toolbar-group-right">
            <button icon="pi pi-user" pButton type="button" [label]="avatarUsuario" class="p-button-text" disabled='true'></button>
            <div class="separador"></div>
            <p-button icon="pi-sign-out" styleClass="p-button-secondary" label="Cerrar sesión" (onClick)="logOut()"></p-button>
        </div>
    </p-toolbar>
    
    <div class=" formulario">
        <form action="" class="m-3 row field" 
                        autocomplete="off" >
            <div class="col-12 text-center mb-3 mt-3">
                <h3>Control de clientes</h3>
            </div>
            <div class="col-6 form-group mb-2">
                <label for="float-identidad">Identidad del cliente</label>
                <p-inputMask class="input-group"
                         [(ngModel)]="identidad"
                         name="idUduario" 
                         mask="9999-9999-99999"
                         id="float-identidad"
                         type="text"
                         autocomplete="off"></p-inputMask>
            </div>
            <div class="col-6 form-group mb-2">
                <h5>El estado del cliente es: </h5>
            </div>
            <div class="form-group p-float-label col-6 mt-3 ">
                <span class="p-float-label mb-2">
                    <input  class="input-group" 
                            id="float-nameUsuario" 
                            type="text" 
                            [(ngModel)]="nombreUser"
                            name="nameUsuario"
                            [disabled]="estado"
                            pInputText > 
                <label for="float-nameUsuario" class="">Nombre</label>
                </span>
            </div>
            <div class="form-group p-float-label col-6 mt-3">
                <span class="p-float-label mb-2">
                    <input  class="input-group" 
                            id="float-lastNameUsuario" 
                            type="text" 
                            autocomplete="off" 
                            [(ngModel)]="apellidoUser"
                            name="nameUsuario"
                            [disabled]="estado"
                            pInputText > 
                <label for="float-lastNameUsuario" class="">Apellido</label>
                </span>
            </div>
            <div class="form-group p-float-label col-6 mt-3 ">
                <span class="p-float-label mb-2">
                    <input  class="input-group" 
                            id="float-nameUsuario" 
                            type="text" 
                            [(ngModel)]="nombreUser"
                            name="nameUsuario"
                            [disabled]="estado"
                            pInputText > 
                <label for="float-nameUsuario" class="">Nombre</label>
                </span>
            </div>
            <div class="form-group p-float-label col-6 mt-3">
                <span class="p-float-label mb-2">
                    <input  class="input-group" 
                            id="float-lastNameUsuario" 
                            type="text" 
                            autocomplete="off" 
                            [(ngModel)]="apellidoUser"
                            name="nameUsuario"
                            [disabled]="estado"
                            pInputText > 
                <label for="float-lastNameUsuario" class="">Apellido</label>
                </span>
            </div>
        </form>
    </div>
    
    
</div>

<!-- <div class="formulario m-0 vh-100 row justify-content-center">
    <form class="mt-5">
        <div class="col-4 form-group p-float-label mb-4">
            <p-inputMask class="input-group"
                         [(ngModel)]="identidad"
                         name="idUduario" 
                         mask="99-9999"
                         id="float-identidad"
                         type="text"
                         autocomplete="off"></p-inputMask>
            <input  class="input-group" 
                    id="float-usuario" 
                    type="text" 
                    autocomplete="off" 
                    [(ngModel)]="identidad"
                    name="usuario"
                    pInputText > 
            <label for="float-usuario">Ingrese su usuario</label>
        </div>
    </form>
</div> -->
