<app-menu></app-menu>
<div class="container">
    <div class=" formulario">
        <form class="m-3 row field p-fluid" autocomplete="off">
            <!-- Inicio de la primera fila -->
            <div class="col-12 text-center mb-3 mt-3">
                <h3>Control de clientes</h3>
            </div>
            <div class="col-3 form-group mb-2">
                <label for="float-identidad">Identidad del cliente</label>
                <div class="p-inputgroup">
                    <p-inputMask class="input-group"
                            [(ngModel)]="identidad"
                            name="idUduario" 
                            mask="9999-9999-99999"
                            id="float-identidad"
                            type="text"></p-inputMask>
                    <button type="button" pButton pRipple icon="pi pi-search" (click)="buscarAfiliado()"></button>
                </div>
            </div>
            <div class="col-3">
            </div>
            <div class="col-6 form-group mb-2">
                <h5>El estado del cliente es: </h5>
            </div>
            <!-- Fin de la primera fila -->
            <!-- Segunda fila -->
            <div class="form-group col-6 mt-3 ">
                <label for="nameUsuario">Nombre</label>
                <input  class="input-group "
                        type="text" 
                        [(ngModel)]="nombreUser"
                        name="nameUsuario"
                        id="nameUsuario"
                        autocomplete="off"
                        [disabled]="estado"
                        pInputText />
            </div>
            <div class="form-group col-6 mt-3 ">
                <label for="lastNameUsuario">Apellido</label>
                <input  class="input-group "
                        type="text" 
                        [(ngModel)]="apellidoUser"
                        name="lastNameUsuario"
                        id="lastNameUsuario"
                        autocomplete="off"
                        [disabled]="estado"
                        pInputText />
            </div>
        </form>
    </div>

    <!-- Control de transacciones -->
    <div class="formulario">
        <form action="" class="m-3 row field p-fluid" *ngIf="disponible">
            <div class="form-group col-6 mt-3">
                <div class="col-12 row">
                    <label for="codigoafiliado">Codigo de Afiliado</label>
                <div class="col-2 form-group">
                    <input  class="input-group "
                    type="text" 
                    [(ngModel)]="caf1"
                    name="caf1"
                    autocomplete="off"
                    maxlength="3"
                    pInputText />
                </div>
                <div class="col-2 form-group">
                    <input  class="input-group "
                    type="text" 
                    [(ngModel)]="caf2"
                    name="caf2"
                    autocomplete="off"
                    maxlength="3"
                    pInputText />
                </div>
                <div class="col-3 form-group">
                    <input  class="input-group "
                    type="text" 
                    [(ngModel)]="caf3"
                    name="caf3"
                    autocomplete="off"
                    maxlength="9"
                    pInputText />
                </div>
                <div class="col-5 form-group">
                    <p-dropdown [options]="cuentasAfiliado" [(ngModel)]="cuentaAfectada" name="cmbCuentasAfiliado" [editable]="true" placeholder="Cuenta" optionLabel="name" [showClear]="true"></p-dropdown>
                </div>
                </div>
            </div>
            <div class="form-group col-6 mt-3">
                <label for="">Trasnsacción</label>
                <p-dropdown [options]="cbxTransacciones" [(ngModel)]="selectTransaccion" name="cmbTransaccion" placeholder="Seleccione una transaccion" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>
            <div class="form-group col-6 mt-3">
                <label for="nombreAfiliadoC">Nombre del Afiliado</label>
                <input  class="input-group "
                        type="text" 
                        [(ngModel)]="nombreAfiliadoC"
                        name="nombreAfiliadoC"
                        id="nombreAfiliadoC"
                        autocomplete="off"
                        pInputText />
            </div>
            <div class="col-6 p-fluid mt-3">
                <div class="field ">
                    <label for="currency-hn">Monto</label>
                    <p-inputNumber [(ngModel)]="monto" name="montoTransaccion" inputId="currency-hn" mode="currency" currency="HNL" locale="es-HN">
                    </p-inputNumber>
                </div>
            </div>
            <div class="col-6 mt-3">
                <label for="">Origen de fondos</label>
                <p-dropdown [options]="cbxorigenFondos" [(ngModel)]="selectOrigenFondo" name="cmbOrigenfondos" placeholder="Seleccione el origen del fondo" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>
            <div class="col-6 mt-3">
                <label for="">Razon de operacion</label>
                <p-dropdown [options]="cbxRazonOperacio" [(ngModel)]="selectRazonFondo" name="cmbRazonOperacion" placeholder="Seleccione la razon de la operacion" optionLabel="name" [showClear]="true"></p-dropdown>
            </div>
            <div class="col-12 mt-3">
                <p-button label="Click" (onClick)="guardar()"></p-button>
            </div>
        </form>
    </div>
    
</div>


