/* You can add global styles to this file, and also import other style files */

html, body{
   margin: 10px;
   background-color: var(--surface-200);
   font-family: var(--font-family); 
}

.formulario{
   border: solid 1px var(--surface-300);
   border-radius: 10px;
   background-color: white;
}
